@import "~bootstrap/scss/bootstrap";


@import 'parcial/_mixins';
@import 'parcial/_variables';



*{
    box-sizing: border-box;
}

header
.container{
    @include container;

}

.my_container{
    max-width: 1400px;
    margin: 0 auto;
}

nav .my_row{
    display:flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px 0;
}

.links{
    display:flex;
    padding: 0;
    list-style-type:none;
    
    li{
        padding:12px 16px; 
        height: 100%;

        

        a{
            text-decoration: none;
            color:#4b535a;
            font-weight: 500;

            &:hover{
                color:$primaryColor;
                
            }
        }
    }

}

// fine header

// jumbo

#jumbotron-img{
    height: 400px;
  
    overflow: hidden;
}

// fine jumbo



// grid

#grid{
    background-color: #1C1C1C;

    a{
        text-decoration: none;
    }
}

  main .my_container{
    position: relative;
    padding: 54px 0 20px;
  }

  .centered{
    text-align: center;
  }
  
  .my_btn{
    padding:12px 60px;

    border:none;

    background-color: $primaryColor;
    color:white;
    font-size: 14px;
    font-weight: bold;

    cursor:pointer;
  }
  
  .my_row{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap:28px;
  }

  #grid .my_row{
    
    margin-bottom: 50px;
  }

  .banner{
    position: absolute;
    left:50px;
    top:-34px;
  
    padding:18px 32px;
  
    background-color: $primaryColor;
  
    color:white;
    font-weight: bold;
    font-size:22px;
  }


//card

.my_card{
    width: calc(185px);


    .my_card-img{
        max-width: 185px;
        height: 185px;
        margin-bottom: 20px;
        overflow: hidden;

        img{
            width:100%;
        }
    }

    .comics-title{
        font-size:14px;
        text-transform: uppercase;
        color:white;
        font-weight: bold;
    }
}

// card

// fine grid





// footer

footer{
    background-image:url("../img/footer-bg.jpg");
    background-size: cover;
    
    overflow: hidden;


    .container{
        padding: 40px 0 50px;
    }
    
    .footer-top{
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;



        img{
            position:absolute;
            right:60px;
            top:-80px;

            transform: scale(120%);
        }
    }
}

.footer-links{
    display:flex;
    flex-flow: row wrap;
    align-items: flex-start;

    column-gap:50px;

    max-width: 400px;


    ul{
        list-style-type: none;
        padding: 0;

    }

    h3{
        font-size: 18px;
        color:white;
    }

    a{
        text-decoration: none;
        font-size:12px;
        color: rgba(255, 255, 255, .3);
    }
}


.footer-bottom{
    position: relative;
    z-index:1;
    
    
    background-color: #303030;

    .container{
        padding:30px 0;
    }


    .inner-footer-bottom{
        display: flex;
        justify-content: space-between;
        align-items: center;

        
        .btn{
            display: inline-block;
    
            padding:15px;
    
            border:2px solid $primaryColor;
    
            text-decoration: none;
            font-size:14px;
            font-weight: bold;
            color:white;
        }


        .social{
            display: flex;
            align-items: center;
            gap:25px;


            .footer-text{
                color:$primaryColor;
            }

            .footer-icons{
                display:flex;
                gap:10px;

                &>img{
                    cursor:pointer;
                }
            }
        }

    }


}


// fine layout




// info Comics

#img-wrapper{
    background-color: $primaryColor;
    height: 80px;
    
    .container_small{
        height: 100%;
        position: relative;
    }

    .img-box{
        position: absolute;
        bottom:20px;
        left:0;
        height: 250px;

        img{
            height: 100%;
        }
    }
}


.container_small{
    width: min(calc(100% - 20px), 1000px);
    margin:0 auto;

    #info{

        padding: 78px 0;

    }

    .title{
        font-size: 1.8em;
        font-weight: bold;
        color:$secondaryColor;
        text-transform: uppercase;
    }

    .check-wrapper{
        display: flex;
        background-color: #55BA59;

        border-bottom:2px solid #357739; 

        color:white;

        .price-status{
            padding:20px 28px;

            display: flex;
            justify-content: space-between;
            flex-grow: 1;

            border-right:2px solid #357739;


            .status{
                text-transform: uppercase;
            }

        }

        .check{
            
            padding:20px 28px;
            width: 300px;

            font-weight: bold;
            text-align: center;
        }

        .opacity-05{
            opacity: .5;
        }

    }
    
    .text{
        color:#555555;
        line-height: 1.6em;
        font-weight: 600;
    }



}


#specs{
background-color: #F6F6F6;
padding-bottom: 90px;


    .tables{
        display: flex;
        gap:40px;

        table{
            width: calc(100% / 2 - 40px / 2);

            th:first-of-type{
                width: 150px;

                padding:30px 0;

                font-size:1.7em;
                color:$secondaryColor;
                border-bottom: 1px solid #E3E3E3
            }

            td{
                vertical-align: text-top;

                padding:12px 0;

                border-bottom: 1px solid #E3E3E3;
                color:#00A9D9;
            }

            td:nth-of-type(2n + 1){
                width: 150px;
                color:$secondaryColor;
                font-weight: 600;
            }
        }

        table:nth-of-type(2){

            td{
                vertical-align: text-top;
                height: 50px;

                padding:12px 0;

                border-bottom: 1px solid #E3E3E3
            }
        }
    }

}




// form

#form-wrapper{
    background-color: #1c1c1c;


    label{
        color:white;
    }

    input[type="text"]{
        box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    }
}